/*New styles*/

div{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

.c-fix:after{
	content: "";
	display: table;
	clear: both;
}

#gcx-jump-menu{
	float:right;
	padding:1em 2em;
	margin: 0.5em 0em 2em 2em;
	border:1px solid #cccccc;
}

#gcx-jump-menu p{
	margin:0px;
	float:left;
	clear:both;
}


.gcx-section{
	margin-top:4em;
	position:relative;
	padding:0px 5px;

	border:1px solid #cccccc;
	border-width:1px 0px 0px 0px;
}

.gcx-section-header{
	font-size:1.4em;
	font-weight:700;
	margin:0.5em 0em 0em 0em;
}

.gcx-section-title{
	margin:2em 0em 0em 0em;
}

.gcx-milestone{
	position:absolute;
	left:0px;
	top:-80px;
	width:1px;
	height:1px;
}

.gcx-note{
	font-size:0.85em;
}

/*report covers*/
div.report-cover{
	float:left;
	display:block;
	width:23%;
	margin:0px;
	padding:0px;
	margin:8px 2% 2px 0px;
	position:relative;
	overflow:hidden;
}

div.report-cover .overlay{
	position:absolute;
	top:-100%;
	height:100%;
	width:100%;
	pointer-events:none;

	-webkit-transition: top 0.5s;
	-moz-transition: top 0.5s
    transition: top 0.5s;
}

div.report-cover:hover .overlay{
	top:0%;
}

div.report-cover .overlay p{
	padding:5%;
	font-size:13px;
	font-weight:bold;
	background-color:rgba(255,255,255,0.85);
}

div.report-cover a{
	display:block;
	width:100%;
}

div.report-cover a img{
	width:100%;
}



@media (min-width:0px){
	#gcx-jump-menu{
		float:none;
		width:calc(100% - 2px);
		margin-left:0em;
	}
	div.report-cover{width:48%;}
	.gcx-hwidth{width:98%;}
}

@media (min-width:480px){
	#gcx-jump-menu{
		float:right;
		width:auto;
		margin-left:2em;
	}
	div.report-cover{width:23%;}
	.gcx-hwidth{width:50%;}
}
