/*clearfix*/
#ng-app .group:after {
  content: "";
  display: table;
  clear: both;
  border:none;
  background:none;
}

#ng-app{
	padding-bottom:20px;
	min-height:120px;
	min-width:300px;
	font-size:16px;
	font-family:Arial, Sans;
	font-weight:normal;
	padding:0px;
	margin:0px;
	color:rgb(51,51,51);
}

#ng-app .group, #ng-app.group{
	border:none;
	background:none;
	background-image:none;
	margin:0px;
}

#ng-app img{
	height:auto; 
	max-width:100%;
	width:auto\9;
}

#ng-app ul{
	clear:both;
	float:left;
	margin:0;
	padding:0;
	width:100%;
	background:none;
	background-image:none;
}

#ng-app h1,#ng-app h2,#ng-app h3,#ng-app h4,#ng-app h5,#ng-app a{
	font-family:Arial;
	font-weight:500;
	padding:0px;
	margin:0px;
	color:rgb(51,51,51);
	display:block;
	clear:both;
	float:left;
}

#ng-app a.toolkit{
	margin-bottom:10px;
}

#ng-app .light{font-weight:300;}
#ng-app p{font-size:80%;margin:0px;}
#ng-app .white{color:#ffffff;} 
#ng-app .dark{color:#163a4c;}  
#ng-app .fs-big{font-size:170%;}
#ng-app .fs-2x{font-size:200%;}

#ng-app h1{font-size:250%;}
#ng-app h2{font-size:150%;}
#ng-app h2 i{color:#FFB33C;font-style:normal;}
#ng-app h3,#ng-app a{font-size:120%;text-decoration:none;}
#ng-app h4, #ng-app h5{font-size:80%;padding:3px 3px 3px 0px;margin:2px 0px 2px 0px;}

#ng-app select,#ng-app a,#ng-app input,#ng-app ul li,#ng-app span{
	font-family: Arial;
	font-weight:normal;
	font-size:80%;
	padding:2px 0px 0px 0px;
	margin:0px;
	display:block;
	float:left;
	width:100%;
	background:none;
	background-image:none;
}

#ng-app text{
	font-family: Arial, Serif;
	text-rendering:optimizeLegibility;
	fill:#0664B2;
	font-size:11px;
	text-anchor:start;
	pointer-events:none;
}

#ng-app rect{
	shape-rendering:auto;
}

#ng-app path{
	shape-rendering:crispEdges;
}

#ng-app ul li a{
	font-size:100%;
}

#ng-app a {color:rgb(5,55,105);width:auto;}

#ng-app p{padding-left:0px;}

#ng-app select, #ng-app input[type=text]{
	background-image:none;
	background:none;
	border:none;
	outline:none;
}

#ng-app .resourceBox{
	width:100%;
	padding:0px;
	margin:0px 0px 0px 0%;
	float:left;
}

#ng-app .resourceBox .inner{
	padding:2px 1% 2px 1%;
	border: 1px solid #B8C0CC;
	background: #ffffff;
	width:97.5%;
}

#ng-app .resourceBox .inner.prominent{
	background:#B8C0CC;
	border-color:#73787F;
}

#ng-app .resourceBoxes .title{
	color:rgb(100,100,100);
	font-family:arial;
	font-size:13px;
	font-weight:normal;
	width:100%;
}

#ng-app .metroSelect{
	width:100%;
	min-width:415px;
	height:auto;
	background:#fffffff;
	padding:0px;
	clear:left;
	margin:0px;
	position:relative;
	left:0px;
	top:0px;
	overflow:hidden;
}

#ng-app .no-select{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

#ng-app .resourceBoxes{
	width:85%;
	margin-left:2%;
	padding:10px 1.5% 15px 1.5%;
	margin-bottom:12px;
	float:left;
	max-width:950px;
	border:0px solid #d1d1d1;
}

#ng-app .resourceBoxes.full{
	width:90%;
}

#ng-app .orange-back{
	background-color:#FFB33C;
}

/*#ng-app .resourceBoxes.left{width:55%;}
#ng-app .resourceBoxes.right{width:30%;}*/

/*RESPONSIVE PORTION*/
#ng-app{width:100%}
/*between min-width and max width (BI breaks at 980, with widths going to 100%)*/
@media (min-width:0px) and (max-width:680px){
	#ng-app{
		width:100%;
	}

	#ng-app .resourceBoxes.left, #ng-app .resourceBoxes.right{
		width:90%;
		border:none;
		padding-right:1.5%;
	}
}

@media (min-width:680px){
	#ng-app{
		width:100%;
	}

	#ng-app .resourceBoxes.left{width:53%;padding-right:4%;border-right:1px solid #d1d1d1;}
	#ng-app .resourceBoxes.right{width:34%;}
}

/**********************************************************************/

/*ANIMATION*/

.ng-hide-remove,.ng-enter{
	opacity: 0;
	 -webkit-transition:all ease 0.25s;
	  -moz-transition:all ease 0.25s;
	  -o-transition:all ease 0.25s;
	  transition:all ease 0.25s;
	  display:block!important;
}

.ng-hide-remove.ng-hide-remove-active{
  opacity:1;
  display:none;
}
 
.ng-enter,
.ng-leave.ng-leave-active {
  opacity:0;
  height:0%;
}
.ng-leave,
.ng-enter.ng-enter-active {
  opacity:1;
  height:100%;
}
