/*clearfix*/
#ng-app .cFix:after {
  content: "";
  display: table;
  clear: both;
  border:none;
  background:none;
}

#ng-app{
	padding-bottom:20px;
	min-height:120px;
	min-width:300px;
	font-size:15px;
	font-family:Arial, Sans;
	font-weight:normal;
	padding:0px;
	margin:0px;
	color:#333333;
	overflow:hidden;
}

#ng-app p{
	font-family:Arial;
	padding:0px;
	margin:0px;
	color:#333333;
	font-size:15px;
	line-height:normal;
}

#ng-app p.reading{
	line-height:1.4em;
	margin-bottom:1em;
}

#ng-app p.gcx-section-header{
	font-size:20px;
	font-weight:bold;
	margin:0px 0px 5px 0px;
}

#ng-app a{
	font-family:Arial;
	text-decoration:none;
	color:#20558A;
}

#ng-app a span{white-space:nowrap;}

#ng-app h3{font-size:130%;text-decoration:none;}

#ng-app text{
	font-family: Arial, Serif;
	text-rendering:optimizeLegibility;
	fill:#333333;
	font-size:13px;
	pointer-events:none;
}


#ng-app .no-select{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}


#ng-app .legend-group{
	border:1px solid #dddddd;
	background-color:#ffffff;
	float:left;
	padding:10px 2% 10px 2%;
	width:45%;
}

#ng-app .legend-group p:first-child{
	font-size:13px;
	text-transform:uppercase;
	margin-bottom:8px;
	font-weight:bold;
}

#ng-app .legend-group:last-child{margin-left:-20px;float:right;}

#ng-app .legend-entry{
	height:16px;
	margin:0px 0px 5px 0px;
	white-space:nowrap;
}

#ng-app .legend-swatch{
	width:16px;
	height:14px;
	border-radius:8px;
	background-color:#999999;
	display:inline-block;
	margin-right:0px;
	top:2px;
	position:relative;
}

#ng-app .legend-text{
	display:inline-block;
	font-size:15px;
	height:16px;
	margin:0px;

}

#ng-app .legend-swatch.cohort4{background-color:rgb(69, 117, 180);}
#ng-app .legend-swatch.cohort3{background-color:rgb(171, 217, 233);}
#ng-app .legend-swatch.cohort1{background-color:rgb(255, 179, 60);}
#ng-app .legend-swatch.cohort2{background-color:rgb(254, 224, 144);}


/**********************************************************************/

/*New Styles*/
#ng-app #gcx-products{
	width:60%;
	height:100%;
	background:rgba(255,255,255,0.9);
	padding:0px;
	position:absolute;
	right:-101%;
	top:0px;
	z-index:20;

	-o-transition:right 0.75s;
	-moz-transition:right 0.75s;
	-webkit-transition:right 0.75s;
	transition:right 0.75s;

	-webkit-box-shadow: -2px 0px 10px -1px rgba(0,0,0,0.25);
	-moz-box-shadow: -2px 0px 10px -1px rgba(0,0,0,0.25);
	box-shadow: -2px 0px 10px -1px rgba(0,0,0,0.25);
}

#ng-app.gcx-products-open #gcx-products{
	right:0%;
	right:calc(0% - 1px);
}

#ng-app #gcx-products-inner{
	position:relative;
	width:100%;
	min-height:50px;
	height:55%;
	overflow-x:hidden;
	overflow-y:auto;
}

/*FEED AREA*/
#ng-app .metro-card{
	margin:5px 5px 0px 10px;
	padding:0px 10px 0px 10px;
	background-color:#ffffff;
	border:1px solid #dddddd;
	border-radius:5px;
}

#ng-app #gcx-products-inner .metro-card:first-child{
	margin-top:15px;
}

#ng-app #gcx-products-inner .metro-card:last-child{
	margin-bottom:400px;
}

#ng-app .metro-card .card-title{font-weight:bold; cursor:pointer;font-size:15px;}
#ng-app .metro-card .card-title a{display:block;padding:5px 0px 3px 0px;}
#ng-app .metro-card.no-content{pointer-events:none;opacity:0.75;padding:5px 10px 3px 10px;}
#ng-app .metro-card.no-content .card-title{color:#999999; font-weight:normal;}
#ng-app .metro-card.no-content .card-title:after{content:" (plan in progress)";font-style:italic;}

#ng-app #select-metro-area-button{
	background-color: #ffffff;
	border-radius:0px;
	cursor:pointer;
	border:1px solid #ffffff;
	border-radius:5px;
	float:left;
	padding:2px;
	margin:0px 3px 0px 3px;
	font-weight:bold;
}

#ng-app #select-metro-area-button:hover{
	background-color:rgb(240,240,240);
	border-color:#dddddd;
}

#ng-app .gcx-menu-button{
	color:#333333;
	margin:4px 3px 3px 3px;
	white-space:nowrap;
}


#ng-app .gray-box-wrap > div{
	background-color: rgb(240,240,240);
	border:1px solid #dddddd;
	padding:15px 2% 15px 2%;
}


#ng-app .toolkit-section p:first-child{
	margin:2px 2px 5px 3px;
	
	font-size: 13px;
	text-transform: uppercase;
	margin-bottom: 16px;
	font-weight: bold;
}

#ng-app .list-o-links a{
	display:block;
	position:relative;
	font-size:15px;
	text-decoration:none;
	margin:10px 0px 0px 15px;
}

#ng-app .list-o-links a:before{
	position:absolute;
	left:-12px;
	content:"• ";
}

#ng-app div.report-cover{
	float:left;
	display:block;
	width:23%;
	margin:0px;
	padding:0px;
	margin:8px 2% 2px 0px;
	position:relative;
	overflow:hidden;
}

#ng-app div.report-cover .overlay{
	position:absolute;
	top:-100%;
	height:100%;
	width:100%;
	pointer-events:none;

	-webkit-transition: top 0.5s;
	-moz-transition: top 0.5s
    transition: top 0.5s;
}

#ng-app div.report-cover:hover .overlay{
	top:0%;
}

#ng-app div.report-cover .overlay p{
	padding:5%;
	font-size:13px;
	font-weight:bold;
	background-color:rgba(255,255,255,0.85);
}

#ng-app div.report-cover a{
	display:block;
	width:100%;
}

#ng-app .report-cover a img{
	width:100%;
}

#ng-app .product-header{
	font-size:15px;
	margin-top: 1em;
}
#ng-app .product-header:first-child{
	margin-top:0px;
}
#ng-app .product-header a{
	font-weight:normal;
	text-transform:none;
}

#ng-app #map-tooltip{
	 position:absolute;
	 display:none;
	 top:0px;
	 left:0px;
	 background-color:rgba(255,255,255,0.75);
	 border:0px solid #dddddd;
	 border-radius:7px;
}

#ng-app #map-tooltip a, #ng-app #map-tooltip p{
	padding:4px 8px 4px 8px;
	display:block;
	color:#333333;
	text-decoration:none;
	font-size:13px;
	font-style:italic;
	line-height:13px;
}

@media (min-width:0px){
	#ng-app #us-map-wrap{display:none;}
	#ng-app #gcx-products{width:100%;right:0%;}
	#ng-app #select-metro-area-button{display:none;}
	#ng-app div.report-cover{width:48%;}
}

@media (min-width:480px){
	#ng-app #us-map-wrap{display:block;}
	#ng-app #gcx-products{width:60%;right:-101%;}
	#ng-app #select-metro-area-button{display:block;}
	#ng-app div.report-cover{width:23%;}
}