<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Data Resources at Brookings</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="eitcstyle.css">
  <script type="text/javascript" src="angularmin.js"></script>
  <script type="text/javascript" src="angularanimatemin.js"></script>
 
  <script type="text/javascript" src="services.js"></script>
  <script type="text/javascript" src="directives.js"></script>
  <script type="text/javascript" src="controllers.js"></script>
  <!--<script type="text/javascript" src="json2.js"></script>-->
</head>
<body>
<div ng-app="GCXResources" ng-controller="GCXCtrl" id="ng-app">
	<div style="width:100%">
		<div class="group" style="margin-top:5px;float:left;border:0px solid #d1d1d1;width:100%;padding-left:0%;padding-right:0%;padding-bottom:25px;">
		
			<!--<h3>{{selectionHeader}}</h3>-->
		<!--<h1 class="lato light">THE EXCHANGE</h1>
		<h3 class="lato light">A Project of the Globlal Cities Initiative</h3>-->
			
		<div class="metroSelect group">
			<h2 class="lato light" style="margin:5px 0px 8px 10px">Metropolitan Areas Participating In The Exchange</h2>
			<p class="animate-repeat lato menu-item no-select" 
			   ng-repeat="m in metros | filter:metkeyword track by m.MCode"
			   ng-mouseDown='setMetro(m)'>
			   {{m.ShortName}}
			</p>

			<div us-map style="float:left;width:415px;clear:left;"></div>
			<div class="responsive group">
				<p class="lato" style="font-size:14px;width:45%;margin-left:1%;float:left;text-align:center;color:rgb(5,55,105)" ng-repeat= "(c,o) in gcxmetros">{{latlon.metros[c].firstcity}}</p>
			</div>
		</div>
			

		</div>
	</div>
</div>

</body>
</html>